body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

button {
  @apply w-full text-center h-full flex items-center justify-center border-gray-600 cursor-pointer;
}

.border-brg {
  @apply border-r bg-gray-100 border-b;
}

.container {
  @apply w-full h-full place-items-center flex items-center justify-between;
}

.container-dark {
  @apply bg-gray-300 border-r border-b;
}
